* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: sego;
    src: url(fonts/SEGO.ttf);
}

@font-face {
    font-family: sans-bold;
    src: url(fonts/DMSans_18pt-Bold.ttf);
}

@font-face {
    font-family: sans-regular;
    src: url(fonts/DMSans_18pt-Regular.ttf);
}

@font-face {
    font-family: sans-light;
    src: url(fonts/DMSans_24pt-Light.ttf);
}

:root {
    --color-principal: #b48470;
    --color-principal2: #d6b9ab;
    --color-secundario: #ffdce0;
    --color-secundario-opacidad: #ffdce094;
    --color-acento: #522b47;
    --font-principal: sego;
    --font-sec-bold: sans-bold;
    --font-sec-regular: sans-regular;
    --font-sec-light: sans-light;
}

:root .btn {
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--color-acento);
    color: var(--color-secundario);
    border: 1px solid var(--color-acento);
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--font-sec-regular);
}

.btn:hover {
    background-color: var(--color-secundario);
    color: var(--color-acento);
    border: var(--color-secundario);
    transition: 0.3s ease;
}


/* index */
/* header index */

.header__img {
    background-image: url(img/header_recorte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__img--opacidad {

    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.341);
}

.nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* position: fixed; */
    padding: 24px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
}

.nav__apartados {
    display: flex;
    align-items: center;
    gap: 108px;
}

.nav__item {
    font-family: var(--font-sec-regular);
    font-size: 16px;
    color: var(--color-acento);
}

.header__logo {
    width: 316px;
}

.nav__item {
    text-decoration: none;
    color: var(--color-acento);
}

/* 
parte de buscador */
.form__buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 82px;
}

.buscador {
    width: 70%;
    height: 32px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.71);
    border: rgba(255, 255, 255, 0.71);
}

.header__reserva {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px;
    padding: 48px;
    margin-top: 124px;
}

.reserva__texto {
    font-family: var(--font-sec-bold);
    font-size: 48px;
    color: var(--color-secundario);
}



/* secciones index */
.home__secciones {
    display: flex;
    justify-content: center;
    padding: 32px;
    gap: 16px;
    width: 100%;
}

.secciones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 4px;
}

.titulo__opacidad {
    width: 250px;
    height: 62px;
    background-color: rgba(255, 255, 255, 0.562);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 8px;
}


.seccionFla,
.seccionEve,
.seccionComple {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 400px;
}

.seccionFla {
    background-image: url(img/seccionFla2.png);
}

.seccionEve {
    background-image: url(img/eventos.jpg);
}

.seccionComple {
    background-image: url(img/complementos.jpg);

}

.seccionFla:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
}

.seccionEve:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
}

.seccionComple:hover {
    transform: scale(1.1);
    transition: transform 1s ease;
}

.seccion__tiutlo {
    font-family: var(--font-sec-bold);
    color: var(--color-acento);
    font-size: 24px;
    text-align: end;
}

.contacto--link {
    display: flex;
    flex-direction: column;
}

.contacto--link-img {
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 200px;
    right: 40px;
}

.contacto--link-text {
    background-color: var(--color-acento);
    color: var(--color-secundario);
    padding: 16px;
    position: fixed;
    bottom: 142px;
    right: 40px;
    border-radius: 16px;
    font-family: var(--font-sec-regular);
    text-decoration: none;
}

.contacto--link :hover {
    background-color: var(--color-secundario);
    color: var(--color-acento);
}

/* footer general */

.footer {
    background-color: var(--color-secundario);
    padding: 8px;
    min-width: 100%;
    z-index: 1;
}


.footer__texto {
    text-align: center;
    font-family: var(--font-sec-regular);
    color: var(--color-acento);
}



@media(max-width: 425px) {
    .reserva__texto {
        font-size: 22px;
    }

    .header__img {
        background-image: url(img/header_recorte.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 390px;
    }

    .home__secciones {
        display: flex;
        flex-direction: column;
        gap: 0px;
        padding: 0px;
        margin-top: 16px;
        width: 100%;
    }

    .seccionFla,
    .seccionEve,
    .seccionComple {
        width: 390px;
        height: 190px;
    }

    .seccion__tiutlo {
        font-size: 16px;
    }

    .titulo__opacidad {
        width: 170px;
        height: 52px;
    }
}

/* detalle producto*/
/* header secundario*/

.nav2__menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    background-color: white;
    background-color: var(--color-secundario-opacidad);
}

.header2__logo {
    width: 40%;

}

.header2__logo--img {
    width: 316px;
}

.nav__apartados--items {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 108px;
}

/* grid de pag. detalle */

.grid__detalle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    margin-bottom: 8px;
}

.detalle__img1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.detalle__img2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.detalle__info {
    grid-column: 3 /4;
    grid-row: 1 / 2;
}

.detalle__info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 224px;
}

/* detalle info  */

.detalle__info {
    font-family: var(--font-sec-bold);
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 16px;
    margin-right: 16px;
}

.info__precio {
    margin-top: 8px;
}

.talla {
    margin: 4px;
    padding: 8px;
    border: 1px, solid, var(--color-acento);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    color: var(--color-acento);
    text-decoration: none;
}

.talla:hover {
    color: var(--color-principal);
    border: 1px, solid, var(--color-principal);
}

.btn__compra {
    text-align: center;
    margin-top: 16px;
    color: var(--color-secundario);
    text-decoration: none;
}

@media (min-width: 500px) {
    .movil__detalle {
        display: none;
    }
}

@media(max-width: 425px) {
    .ordenador__detalle {
        display: none;
    }

    .movil__detalle {
        display: flex;
        flex-direction: column;
        font-family: var(--font-sec-bold);
    }

    .grid__detalle {
        display: flex;
        flex-direction: column;
    }

    .detalle__imagenes {
        display: flex;
        flex-direction: column;
    }

    .detalle__img1,
    .detalle__img2 {
        width: 445px;
    }

    .producto__info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: white;
        padding: 16px;
        position: fixed;
        width: 100%;
        top: 0px;
    }

    .producto__info--2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: white;
        padding: 24px;
        position: fixed;
        width: 100%;
        bottom: 0px;
    }

    .boton__compra {
        margin-top: 42px;
    }
}

/* contacto  */

.fondo {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/contacto-img-horizontal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* .fondo {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-principal);
} */

.contenedor {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.835);
    padding: 24px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    border-radius: 16px;
    
}

.info {
    width: 80%;
}

.contenedor__img {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

/* reserva */
.reserva {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.reserva__titulo,
.ubicacion__titulo,
.horario__titulo {
    font-family: var(--font-sec-bold);
    font-size: 28px;
}

.reserva__sub,
.ubicacion__direccion {
    font-family: var(--font-sec-regular);
    font-size: 20px;
}

.reserva__telf,
.ubicacion__contacto--llegar {
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--color-acento);
    color: var(--color-secundario);
    border: 1px solid var(--color-acento);
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--font-sec-bold);
    margin-top: 16px;
}

/* ubicacion  */

.ubicacion {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
}

.ubiContacto--maps{
    width: 100%;
}

/* horario  */
.horario{
    width: 50%;
}

.grid__horario {
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(2, 1fr);
    font-family: var(--font-sec-regular);
    color: gray;
    width: 40%;
    margin-top: 8px;
    width: 100%;

}

.item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item4 {
    grid-column: 2 /3;
    grid-row: 2 / 3;
}

.item5 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.item6 {
    grid-column: 2 /3;
    grid-row: 3 / 4;
}

.item7 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.item8 {
    grid-column: 2 /3;
    grid-row: 4 / 5;
}

.item9 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.item10 {
    grid-column: 2 /3;
    grid-row: 5 / 6;
}

.item11 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.item12 {
    grid-column: 2 /3;
    grid-row: 6 / 7;
}

.item13 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

.item14 {
    grid-column: 2 /3;
    grid-row: 7 / 8;
}

@media (max-width: 425px){
    .ubiContacto--maps{
        display: none;
    }
    .reserva__titulo, .ubicacion__titulo, .horario__titulo{
        font-size: 24px;
    }
    .reserva__sub, .ubicacion__direccion{
        font-size: 16px;
    }
    .grid__horario{
        font-size: 12px;
        gap: 8px;
    }
}